/*Resetting CSS*/
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, 
a, em, img, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}


/*Start of CSS*/
body {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	-o-user-select: none;
	user-select: none;
	background-image: url(../assets/bg.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: black;
	cursor:default;
    	font-size: 14px;
	font-weight: bold;
	font-family: cursive;
	color:white;
	overflow-x:hidden;
}

hr{
border: 0;
background-color: black;
margin-top: 20px;
height:5px;
}
#intro{
	padding-left: 5%;
	h1{
	font-size: 75px;
	width:500px;
	margin: 15% 0 50px 0;
	}	
	.profile_pic{
	width: 150px;
	height:150px;
	border-radius:150px; 
	float: right;
	}
	hr{
		margin-top: 0;
	background-color: #fff;
	}
	li{
	cursor: pointer;
	background-color: rgba(255,255,255,.75);
	box-shadow:20px 7px 15px rgba(140,140,140,0.7);
	padding:20px 30px;
	margin: 20px;
	width:250px;
	text-align: center;
	font-size: 30px;
	line-height: 40px; 
	color:black;
	}
	.nav_bar{
	margin-top: 5%;
	}
}
#about{
	background-color:  white;
	width:80%;
	opacity: 0.5;
	color:black; 
	height:400px;
	margin:25% auto 100px;
	padding: 5px 40px ;
	h2{
	padding-top: 20px;
	width:500px;
	font-size: 35px;
	}
	hr{
	border: 0;
	background-color: black;
	margin-top: 20px;
	height:5px;
	}
	.desc, .desc2{
	font-size:30px;
	white-space: nowrap;
	overflow: hidden;
	width: 40em;
	margin-top: 20px;
	line-height: 50px;
	}
	.desc{
	animation: type 4s steps(50, end); 
	}
	.desc2{
	animation: type2 8s steps(50, end);
	}
	span{
	animation: blink 1s infinite;
	}
	@keyframes type{ 
	  from { width: 0; } 
	} 
	
	@keyframes type2{
	  0%{width: 0;}
	  40%{width: 0;}
	  100%{ width: 100; } 
	} 
	
	@keyframes blink{
	  to{opacity: .0;}
	}
	
	::selection{
	  background: black;
	}
	.back{
	float: left;
	font-size:30px;
	cursor:pointer;
	margin-top: 130px;
	}
}