<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0,user-scalable=no">
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
		<title>Wenjun Mao online Portfolio</title>
		<link rel="stylesheet" href="css/main.css">
		<style> [v-cloak] { display: none; } </style>
	</head>
	<body oncontextmenu="return false;">
		<div id="main_wrapper">
			<div id="intro" v-cloak v-show="tab==1">
				<div>
					<h1>{{name}}</h1>
					<img src="./assets/photo.jpg" class="profile_pic" alt="#">
					<a href="http://7xscdo.com1.z0.glb.clouddn.com/Resume.pdf" download
					class="download">
					Download Resume</a>
					<hr>
				</div>
				<ul class="nav_bar">
					<li id="nav1" v-on:click="set_tab(1)" style="display: none;"><span>[ </span>HOME<span> ]</span></li>
					<li id="nav2" v-on:click="set_tab(2)"><span>[ </span>ABOUT<span> ]</span></li>
					<li id="nav3" v-on:click="set_tab(3)"><span>[ </span>SKILLS<span> ]</span></li>
					<li id="nav4" v-on:click="set_tab(4)"><span>[ </span>EXPERIENCES<span> ]</span></li>
					<li id="nav5" v-on:click="set_tab(5)"><span>[ </span>PROJECTS<span> ]</span></li>
					<li id="nav6" v-on:click="set_tab(6)"><span>[ </span>CONTACT<span> ]</span></li>
				</ul>
			</div>
			<div id="about" v-cloak v-show="tab==2">
				<h2>ABOUT ME</h2>
				<hr>
				<div class="typewriter">
				<p class="desc">Hi, I'm Wenjun Mao. A front-end developer from Nanjing, China.</p>
				<p class="desc2">I enjoy turning creative ideas and designs into reality. <span>|</span></p>
				</div>
				<p class="back" v-on:click="set_tab(1)">< Back</p>
			</div>
			<div id="skills" v-cloak v-show="tab==3">
				<h2>SKILLS</h2>
				<div>
				<svg width="600" height="400" class="graph"><g>
				<polygon :points="points"></polygon>
				<text x="260" y="30"  font-size="30">HTML</text>
				<text x="443" y="120"  font-size="30">CSS</text>
				<text x="443" y="300"  font-size="30">JavaScript</text>
				<text x="40" y="120"  font-size="30">Vue.JS</text>
				<text x="40" y="300"  font-size="30">NodeJS</text>
				<text x="260" y="390"  font-size="30">jQuery</text>
				<circle cx="300" cy="200" r="160" stroke-width="2" ></circle>
				<circle cx="300" cy="200" r="120"stroke-width="2" ></circle>
				<circle cx="300" cy="200" r="80"stroke-width="2" ></circle>
				<circle cx="300" cy="200" r="40"stroke-width="2" ></circle>
				<line x1="300" y1="200" x2="160" y2="120" stroke-width="2" stroke="black"/>
				<line x1="300" y1="200" x2="300" y2="40" stroke-width="2" stroke="black"/>
				<line x1="300" y1="200" x2="440" y2="120" stroke-width="2" stroke="black"/>	
				<line x1="300" y1="200" x2="440" y2="280" stroke-width="2" stroke="black"/>		
				<line x1="300" y1="200" x2="300" y2="360" stroke-width="2" stroke="black"/>		
				<line x1="300" y1="200" x2="160" y2="280" stroke-width="2" stroke="black"/>
				</g>
				</svg>
				</div>
				<p class="back" v-on:click="set_tab(1)">< Back</p>
			</div>
			<div id="experiences" v-cloak v-show="tab==4">
				<h2>EXPERIENCE</h2>
				<div class="timeline">
				<div id="timeline_bar"></div>
				<li>REDLINE Inc. <br> 
				FEB 2016 - AUG 2016<br>
				Leading Front-end developer<br><br>
				<span>&bull;&nbsp;Lead the front-end team for developing the website www.manfenjie.com and its mobile compatible version, which consists of functions including discussions, online chatting, live course streaming etc.</span><br>
				<span>&bull;&nbsp;Constructed mainly using Vue.js (MVVM framework), LESS, etc.</span><br>
				<span>&bull;&nbsp;Developed the Android mobile app with React Native</span>
				</li>

				<li>START-UP PROJECT<br>
				JAN 2016 - MAR 2016<br>
				Leading software developer<br><br>
				<span>&bull;&nbsp;Designed and coded a Hedge Fund Analysis Website, a start up project that enables articles and fund data display, and filtering</span><br>
				<span>&bull;&nbsp;Developed using Vue.js, setup server and database with Node.JS/ mongoDB , url:www.caifuup.com</span><br>
				</li>

				<li>ASIAINFO LINKAGE<br>
				JUN 2013-DEC 2013<br>
				Leading software developer<br><br>
				<span>&bull;&nbsp;As Front-end developer, developed the Electronic Program Guides for China TELECOM, a system used in 2 provinces of China by millions of users, major roles in group are coding HTML pages and feature testing </span>
				</li>

				<li>FREELANCE PROJECT<br>
				SEPT 2016 - NOW<br>
				Leading software developer<br><br>
				<span>&bull;&nbsp;Analyze the user needs, designed and coded the board game which originally designed by MIT.</span><br>
				<span>&bull;&nbsp;Constructed mainly using React, Redux etc.</span><br>
				<span>&bull;&nbsp;Designed and developed with mobile compatibility</span>
				</li>
				</div>
				<p class="back" v-on:click="set_tab(1)">< Back</p>
			</div>		

			<div id="projects" v-cloak v-show="tab==5">
				<h2>PROJECTS</h2>
				<ul class="con"
				 >
				<li v-for="(img_src,index) in images">
				<img v-bind:src="img_src" alt="#" class="project_img" v-if="!masks[index]" 
				v-on:mouseover="mask(index)">
				 <div class="mask" v-if="masks[index]" v-on:mouseout.self="unmask()">  
   				  <a href="#" class="info" v-text="titles[index]"></a>  
  				 </div>  
  				</li>
				</ul>
				
				<p class="back" v-on:click="set_tab(1)">< Back</p>
			</div>

			<div id="contact" v-cloak v-show="tab==6">
				<h2>CONTACT ME</h2>
				<form action="https://formspree.io/viddamaowj@hotmail.com" method="POST">
					<table>
					<tr>	
					<td style="width:30%">
					<label for="Email address">Email address</label>
					</td>
					<td class="underline" 
					v-bind:class="{bl:email_focus}">
					<input type="email" id="contact_email" name="Email address" autofocus
					style="resize: none;border:none;" onfocus="set_focus('email')"
					onblur="set_blur('email')">
					</td>
					</tr>
					<tr>
					<td>
					<label for="Content">Content</label>
					</td>
					<td class="underline" v-bind:class="{error:content_length_exceeded,bl:content_focus}">
					<textarea v-model="content" id="contact_content" 
					style="resize: none;border:none;" wrap="irtual" 
					class="report_msg" name="Content" rows="10" cols="50" placeholder="Write your message in this box" onfocus="set_focus('content')"maxlength="201"
					onblur="set_blur('content')"></textarea>
					</td>
					</tr>
					<tr>
					<td>
					<p class="back" v-on:click="set_tab(1)">< Back</p>
					</td>
					<td>

					<div id="word_count" v-bind:class="{rd:content_length_exceeded}">{{content.length}} / 200</div>
					<br>
					<input type="submit" class="submit_btn" value="Send">
					</td>
					</tr>
					</table>
				</form>
				
			</div>
		</div>
		<script src="js/vue.js"></script>
		<script src="js/index.js"></script>
	</body>
</html>