 #contact{
	background-color:  white;
	width:80%;
	opacity: 0.5;
	color:black; 
	height:500px;
	margin:15% auto 100px;
	padding: 5px 40px ;
	h2{
	padding-top: 20px;
	width:500px;
	font-size: 35px;
	}
	.back{ 
	float: left;
	font-size:30px;
	cursor:pointer;
	}
	@media screen and (max-width: 600px) {

	.back{
	margin-top: 0px;
	}
	} 
}