/*Start of CSS*/
body {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	-o-user-select: none;
	user-select: none;
	background-image: url(../assets/bg.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: black;
	cursor:default;
    	font-size: 14px;
	font-weight: bold;
	font-family: cursive;
	color:white;
	overflow:hidden; 
}
hr{ 
border: 0; 
background-color: black;
margin-top: 20px;
height:5px;
}
#intro{ 
	width:1000px;
	margin: 0 auto;
	h1{
	font-size:6em;
	width:600px;
	margin: 8% 0 50px 0;
	float: left;
	}	
	.profile_pic{
	width: 200px; 
	height:200px;
	border-radius:200px; 
	margin: 5% 0 50px 30px;
	}
	hr{
	width:80%;
	float: left;
	margin-top: 0;
	margin-bottom: 0;
	background-color: #fff;
	}
	@media screen and (max-width: 1000px) {
	.profile_pic{
	width: 200px;
	height:200px;
	border-radius:200px; 
	margin: 5% auto 20px;
	}
	}
	@media screen and (max-width: 800px) {
	.profile_pic{
	width: 200px;
	height:200px;
	border-radius:200px; 
	margin: 0 0 20px 200px;
	}
	hr{
	width:90%;
	}
	}
	
	li{
	cursor: pointer;
	background-color: rgba(255,255,255,.75);
	box-shadow:20px 7px 15px rgba(140,140,140,0.7);
	padding:22px 30px;
	margin: 25px;
	width:400px;
	text-align: center;
	font-size: 3em;
	line-height: 30px; 
	color:black;
		span{
		display: none;
		}
	}
	$mgl: 0, 100px,200px,300px,400px,500px;
	@for $i from 1 through length($mgl) {
	   #nav#{$i} {
	       margin-left: nth($mgl, $i);
	   } 
	}
	li:hover span{
	display: inline;
	}
	.nav_bar{
	margin-top: 3%;
	}
}
